<div class="tw-flex tw-justify-center tw-items-center tw-h-screen tw-flex-col tw-md:tw-p-10">
  <div class="glass tw-py-5 tw-px-5 tw-md:tw-px-10 tw-md:tw-w-[28rem] tw-md:tw-w-28 tw-justify-center tw-items-center">
    <div class="">
      <div class="tw-flex tw-justify-center tw-flex-col tw-items-center">
        <h1 class="tw-text-3xl tw-font-bold">Login</h1>
        <p class="tw-text-slate-500 tw-mt-2 tw-text-center tw-text-sm">
          Login now, unlock your travel dreams!
        </p>
      </div>

      <form class="tw-mt-5 tw-flex tw-flex-col tw-gap-5" (ngSubmit)="submitLogin()">
        <div class="tw-w-full tw-mt-5 tw-relative tw-flex tw-justify-center tw-items-center h-12 tw-bg-white  tw-rounded-xl tw-overflow-hidden ">
          <select [(ngModel)]="countryCode" [ngModelOptions]="{standalone: true}"
            class="tw-py-2 tw-px-1 tw-outline-none tw-border-none tw-h-full">
            <option value="91" selected class="">
              +91 IN
            </option>
            <option value="1">+1 US</option>
          </select>
          <input name="number" type="number" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}"
            class="tw-outline-none tw-border-none  tw-pl-2 tw-w-full tw-h-full" placeholder="Phone Number" required />
        </div>
        <div class="tw-w-full tw-bg-white tw-rounded-xl tw-relative tw-overflow-hidden">
          <input name="Password" [attr.type]="isPasswordHidden ? 'text' : 'password'" [(ngModel)]="password"
            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-w-full tw-px-5 tw-pr-8" placeholder="Password" required />
          <div class="tw-absolute tw-md:tw-left-[93%] tw-left-[90%] tw-top-[35%]" (click)="isPasswordHidden=!isPasswordHidden">
            <i [ngClass]="{'bi-eye-slash-fill': !isPasswordHidden, 'bi-eye-fill' : isPasswordHidden }" class="bi "></i>
          </div>
        </div>
        <input name="submit" [disabled]="loading" type="submit" [attr.value]="loading ? 'Login Wait' : 'Login'"
          class="tw-w-full tw-bg-violet-800 tw-h-12 tw-rounded-lg tw-mt-5 tw-text-white tw-hover:tw-bg-red-400 tw-cursor-pointer tw-outline-none tw-border-none" />
      </form>
      <div class="tw-mt-5 ">
        <p class="tw-text-sm tw-text-slate-400 tw-text-center">
          Don't have an account?
          <span class="tw-text-red-400 tw-cursor-pointer" [routerLink]="'/signup'">
            Register
          </span>
        </p>
      </div>
    </div>
  </div>
</div>