<div class="tw-relative tw-w-full tw-max-w-xl tw-mx-auto" (mouseenter)="startHover()" (mouseleave)="stopHover()">

    <div class=" tw-min-h-[220px]
           tw-max-h-[220px]
           tw-overflow-hidden
           tw-rounded-lg
           tw-bg-gray-100
           tw-flex
           tw-items-center
           tw-justify-center  ">

        <img [src]="images[currentIndex].url"
            class="tw-w-full tw-h-full tw-object-cover tw-transition-all tw-duration-500" alt="Product image" />
    </div>

</div>