.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: background-color 0.2s ease-in-out;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


.header {
    padding: 12px;
}

.header.scrolled {
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.header.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: background-color 0.2s ease-in-out;
    animation: slideIn 0.3s ease-in-out;
}