/* POPPINS FONT */


*{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 280px;
      text-decoration: none;
    }
  }
  
  .logo img {
    max-height: 26px;
    margin-right: 6px;
    filter: invert(44%) sepia(91%) saturate(5384%) hue-rotate(227deg) brightness(94%) contrast(102%);
  }
  
  .logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
  }
  
  /* Toggle Sidebar Button */
  .header .toggle-sidebar-btn {
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }
  
  /* Search Bar */
  .header .search-bar {
    min-width: 360px;
    padding: 0 20px;
  }
  
  @media (max-width: 1199px) {
    .header .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  
    .header .search-bar-show {
      top: 60px;
      visibility: visible;
      opacity: 1;
    }
  }
  
  .header .search-form {
    width: 100%;
  }
  
  .header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }
  
  .header .search-form input:focus,
  .header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
  }
  
  .header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .header .search-form button .icon {
    color: #012970;
  }
  
  /*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
  .header-nav ul {
    list-style: none;
  }
  
  .header-nav>ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav .nav-icon {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
  }
  
  .header-nav .nav-profile {
    color: #012970;
  }
  
  .header-nav .nav-profile img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    object-position: top;
  }
  
  .header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
  }
  
  .header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
  }
  
  .header-nav .messages {
    inset: 8px -15px auto auto !important;
    --bs-dropdown-divider-margin-y: 0;
  }
  
  .header-nav .messages .message-item {
    padding: 15px 10px;
    transition: 0.3s;
    display: flex;
  }
  
  .header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
  }
  
  .header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
  }
  
  .header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
  }
  
  .header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
    cursor: pointer;
  }
  
  .header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
  }
  
  .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
  }
  
  .header-nav .profile .dropdown-header span {
    font-size: 14px;
  }

  .header-nav .profile .dropdown-divider {
    margin: 0;
  }
  
  .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  
  .header-nav .profile .dropdown-item .icon {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  
  .header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
  }
  
  /*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
  }
  
  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  }
  
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  @media (min-width: 1200px) {
  
    #main,
    #footer {
      margin-left: 300px;
    }
  }
  
  @media (max-width: 1199px) {
    .toggle-sidebar.sidebar {
      left: 0;
      box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    }
  }
  
  @media (min-width: 1200px) {
  
    .toggle-sidebar#main{
      margin-left: 0;
    }
  
    .toggle-sidebar.sidebar {
      left: -300px;
    }
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #012970;
    transition: 0.3;
    padding: 10px 15px;
    border-radius: 4px;
  }

  .sidebar-nav .active{
    background: #ececec;
  }
  
  .sidebar-nav .nav-link .icon {
    font-size: 16px;
    margin-right: 10px;
  }

  
  .sidebar-nav .nav-link:hover {
    background: rgba(37, 95, 156, 0.937);
    color: white;
  }
  


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
    
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: all 0.4s;
}

.back-to-top .icon {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

