<div class="tw-flex tw-justify-center tw-items-center tw-md:h-screen tw-flex-col py-5 tw-md:p-10">
    <div class="glass py-5 tw-md:px-10 tw-px-5">
        <div class="">
            <div class="tw-flex tw-justify-center tw-flex-col tw-items-center">
                <h1 class="text-3xl font-bold ">
                    Welcome {{ userData?.firstName }} {{ userData?.lastName }} !
                </h1>
                <p class="text-slate-500 mt-2 text-center text-sm">
                    Here is your profile info have good day
                </p>
                <img [src]="userData?.profilePic !== '' ? userData?.profilePic:null" alt=""
                    class="w-[8rem] h-[8rem] rounded-full cursor-pointer tw-mt-5" />
            </div>

            <div class="tw-flex gap-3 tw-md:tw-flex-row tw-flex-col tw-justify-center tw-items-center tw-mt-5">
                <input type="text" disabled [value]="userData?.firstName"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="First Name" />
                <input type="text" disabled [value]="userData?.lastName"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Last Name" />
                <input type="text" disabled [value]="userData?.email"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Email Id" />
            </div>
            <div class="tw-flex gap-3 tw-md:tw-flex-row tw-flex-col tw-justify-center tw-items-center tw-mt-5">
                <input type="text" disabled [value]="userData?.userLocationData?.city"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="City" />
                <input type="text" disabled [value]="userData?.userLocationData?.region"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="State" />
                <input type="text" disabled [value]="userData?.userLocationData?.country"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Country" />
            </div>
            <div class="tw-flex gap-3 tw-md:tw-flex-row tw-flex-col tw-justify-center tw-items-center tw-mt-5">
                <input type="text" disabled [value]="userData?.userLocationData?.postal"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Postal Code" />
                <input type="text" disabled [value]="userData?.phoneNumber"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Mobile Number" />
                <input type="text" disabled [value]="userData?.userLocationData?.timezone"
                    class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                    placeholder="Time Zone" />
            </div>



            <!--     <button  [disabled]="isLoading" (click)="logOut()" type="button" class=" tw-w-full tw-rounded-lg tw-mt-4 tw-text-white bg-danger tw-box-border tw-border tw-border-transparent 
            tw-hover:tw-bg-danger-strong tw-focus:tw-ring-4 
            tw-focus:tw-ring-danger-medium 
            tw-shadow-xs
             tw-font-medium tw-leading-5 tw-rounded-base tw-text-sm tw-px-4 tw-py-2.5 tw-focus:tw-outline-none">  {{isLoading ? 'Loading Wait' : 'Logout'}}</button>
 -->
            <button type="button" [disabled]="isLoading" (click)="isAddAddress=true;"
                class="tw-mt-4 tw-rounded-lg tw-text-white tw-bg-gradient-to-br tw-from-purple-600 tw-to-blue-500 tw-hover:tw-bg-gradient-to-bl tw-focus:tw-ring-4 tw-focus:tw-outline-none tw-focus:tw-ring-blue-300 tw-dark:tw-focus:tw-ring-blue-800 tw-font-medium tw-rounded-base tw-text-sm tw-px-4 tw-py-2.5 tw-text-center tw-leading-5">
                Add Address</button>
        </div>



    </div>
    <div class="glass py-5 tw-md:px-10 tw-px-5 tw-mt-10" *ngIf="userData?.addresses?.length">
        <div class="tw-mt-10" *ngFor="let add of userData?.addresses; let i=index ">
            <h1 class="tw-h-12  tw-px-5 tw-w-full">Address
                #{{i+1}} </h1>

            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full">
                {{add.fullName}} </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"> {{add.phone}}
            </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full">
                {{add.addressLine1}} </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full">
                {{add.addressLine2}} </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"> {{add.city}}
            </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"> {{add.state}}
            </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full">
                {{add.pincode}} </p>
            <p class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full">
                {{add.country}} </p>

            <div class="tw-flex tw-justify-center">
                <span class="tw-text-sm text-gray-500">Name</span>
                <input class="tw-px-5 tw-w-full" type="checkbox" [checked]="add.isDefault" [disabled]="true" />
            </div>
            <button [disabled]="true" type="button"
                class=" tw-w-full tw-rounded-lg tw-mt-4 tw-text-white bg-danger tw-box-border tw-border tw-border-transparent  tw-hover:tw-bg-danger-strong tw-focus:tw-ring-4             tw-focus:tw-ring-danger-medium             tw-shadow-xs             tw-font-medium tw-leading-5 tw-rounded-base tw-text-sm tw-px-4 tw-py-2.5 tw-focus:tw-outline-none">
                {{isLoading ? 'Deleting Wait' : 'Delete'}}</button>
        </div>

    </div>

    <div class="glass py-5 tw-md:px-10 tw-px-5 tw-mt-10" *ngIf="isAddAddress && userData?.role ==='user'">
        <div>
            <h2>Add Address</h2>

            <form class="tw-mt-5" [formGroup]="addressForm" (ngSubmit)="saveAdd()">
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center">
                    <input type="text" formControlName="fullName"
                        class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                        placeholder=" fullName" />

                    <input type="text" formControlName="phone"
                        class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                        placeholder="phone" />


                </div>
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <input type="text" formControlName="addressLine1"
                            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                            placeholder="address 1" />

                        <input type="text" formControlName="addressLine2"
                            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                            placeholder="address2" />
                    </div>
                </div>

                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <input type="text" formControlName="city"
                            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                            placeholder="city" />
                    </div>
                </div>
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <input type="text" formControlName="state"
                            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                            placeholder="state" />
                    </div>
                </div>
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <input type="text" formControlName="pincode"
                            class="tw-h-12 tw-bg-white tw-outline-none tw-border-none tw-rounded-xl tw-px-5 tw-w-full"
                            placeholder="pincode" />
                    </div>
                </div>
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <label>Country</label>
                        <select formControlName="country" [disabled]="true">
                            <option *ngFor="let c of countries" [value]="c">
                                {{ c }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="tw-flex tw-justify-center tw-gatw-p-5 tw-items-center tw-mt-5">
                    <div class="tw-w-full">
                        <select formControlName="isDefault">
                            <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                                {{ opt.label }}
                            </option>
                        </select>
                    </div>
                </div>

                <input [disabled]="isLoading" name="submit" type="submit" [attr.value]="'submit'"
                    class="tw-w-full tw-bg-violet-800 tw-h-12 tw-rounded-lg tw-mt-5 tw-text-white tw-hover:tw-bg-red-400 tw-cursor-pointer tw-outline-none tw-border-none" />
            </form>

        </div>

    </div>
</div>