@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");



* {
  font-family: "Poppins", sans-serif;
}




body {
  background: #dcdce6;
  background-image: url(../src/assets/images/Background.png);
}

.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* 
html, body { height: 100%; }
body { margin: 0; background-color: #f6f9ff; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */